@charset "UTF-8";

/* 
   Paleta de Cores: 
#1E5AA8  - Azul principal

#0B2C5D - Azul escuro

#ffffff - Branco 

#D9D2C3 - Bege claro
*/

@media screen and (max-width: 500px){
    #login{
      

        min-height: auto;
        height: auto;
    }
    #imagem{
        height: 150px;
    }
    #formulario{
        padding: 15px;
    }

}
    


@media screen and (min-width: 768px) and (max-width: 1024px){
    body{
      background-image: linear-gradient(to top, #D9D2C3,#0B2C5D );
    }

    #login{
        display: flex;
        width: 90%;
        max-width: 700px;
        height:450px;
      
    }
    #imagem{
       
        width: 40%;
        height: 100%;
    
    }
     #formulario {
        width: 60%;
        padding: 30px;
        align-self: center;
      


    }
   
}
   
@media screen and ( min-width: 1025px ) and (max-width: 1199px ) {
    body{
      background-image: linear-gradient(to top, #D9D2C3,#0B2C5D );
    }
    #login{
       display: flex;
        width: 60%;
        height: 550px;
        max-width: 950px;
    }
    #imagem{
        
        width: 45%;
        height: 100%;
    }
    #formulario{
        width: 55%;
        height: auto;
        align-self: center;
    }
    }
   

@media screen and (min-width: 1200px)  {
    body{
      background-image: linear-gradient(to top, #D9D2C3,#0B2C5D );
    }
    #login{
        display: flex;
        flex-direction: row-reverse;
        width: 60%;
        max-width: 950px;
        height: 550px;
       
    }
    #imagem{
  
        width: 45%;
        height: 100%;
    }
    #formulario{
        width: 55%;
        padding: 40px;
        align-self: center ;
    }
}
