@charset "UTF-8";


/* 
   Paleta de Cores: 

#1E5AA8  - Azul principal

#0B2C5D - Azul escuro

#ffffff - Branco quente

#D9D2C3 - Bege claro


*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: clamp(0.8rem,1vw, 1.3rem);
}
body,html{
    background-color:#0B2C5D ;
    width: 100vw;
    height: 100vh;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
#login{
    background-color: #ffffff ;
    width: 350px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 5px;
   transition: width 0.3s , height .0.3s;
   transition-timing-function: ease;

}
#imagem{
    background: #ffffff url("../imagens/entrada-palacio.jpg") no-repeat;
    display: block;
    height: 40%;
    width: 100%;
    background-size: cover;
    background-position: 100%;
    background-position:bottom;
   
    
}
#formulario{
    display: block;
    padding: 10px;
    margin-bottom: 10px;

}
#formulario > h1{
    text-align: center;
    font-size: 30px;
}
span{
    background-color: white;
   

}
.cadastro{
    background-color: #0B2C5D;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
    
  

}
label{
    color: white;
}

#cadastro, input{
    height: 40px;
    width: 80%;
    
  

  

}
#entrar{
    width: 100%;
    height: 40px;
    background-color: #2591FE ;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.8em;
  
}
#entrar:hover{
    background-color: #0B2C5D;


}
.cadastro ::placeholder{
    font-size: 16px;
}

#esqueci-senha{
    display: block;
    background-color: #ffffff ;
    width: 100%;
    height: 40px;
    font-size: 1.8em;
    text-align: center;
    margin-top: 5px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid;
    color: #2591FE;
    

}
a>i{

    position: relative;
    top: 5px;
    font-size: 10px;
    
}
#esqueci-senha:hover {
    background-color: #d9d2c350 ;

    
}
span{
    
}