@charset "UTF-8";


/* 
   Paleta de Cores: 

#1E5AA8  - Azul principal

#0B2C5D - Azul escuro

#ffffff - Branco quente

#D9D2C3 - Bege claro


*/
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: clamp(0.7rem,0.8vw, 0.8rem);
}
body,html{
    background-color:#0B2C5D ;
    width: 100%;
    min-height: 100vh;
}
main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#login{
   
    background-color: #ffffff ;
    width: 300px;
    min-height: 500px;
    overflow: hidden;
    border-radius: 5px;
   

   

}

   
    

#imagem{

    background: #ffffff url("../imagens/entrada-palacio.jpg") no-repeat;
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: 100%;
    background-position:center bottom;
   
    
}
#formulario{

    padding: 20px;
 
   

}
#formulario > h1{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;

   
}
#formulario p{
    text-align: center;
    margin-bottom: 15px;

}
.cadastro{
    background-color: #0B2C5D;
    display:flex;
  
    width: 100%;
    height: 45px;
    border-radius: 5px;
    margin: 5px 0px;
  
}
.cadastro span{
    width: 40px;
    padding: 9px;
    color: white;
    font-size: 3em;
}

.cadastro input:focus-within{
    background-color: #ffffff ;
}
label{
    color: white;
}

.cadastro input{
    height: 100%; 
    flex: 1; 
    outline: none;
  
    padding: 0 10px;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #e0dcd4 ;
    
    
  

  

}
#entrar{
    width: 100%;
    height: 40px;
    background-color: #2591FE ;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 1.3rem;
    margin-top: 10px;
    
  
}
#entrar:hover{
    background-color: #0B2C5D;
   
   

}


#esqueci-senha{
    display: block;
    background-color: #ffffff ;
    width: 100%;
    height: 40px;
    font-size: 1.8em;
    text-align: center;
    margin-top: 2px;
    border-radius: 8px;
    text-decoration: none;
    border: 1px solid;
    color: #2591FE;
    border-radius: 8px;
    

}
a>i{

    position: relative;
    top: 5px;
    font-size: 10px;
    
}
#esqueci-senha:hover {
    background-color: #2592fe21 ;
   

    
}
